// globals

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// canvas {
//   display: block;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: -10;
// }

body {
  color: $primary-color;
  font-family: $font-stack;
  margin: auto;
  background: #fefefe;
}

.cursor {
  width: 24px;
  height: 24px;
  position: fixed;
  z-index: 9999;
  display: none;
  top: 0;
  left: 0;
  // mix-blend-mode: multiply;
}
.doppelganger {
  width: 24px;
  height: 24px;
  position: fixed;
  z-index: 9999;
  display: block;
  top: 0;
  left: 0;
  transition: 0.5s;
  // mix-blend-mode: multiply;
}
.doppelganger-bait {
  width: 100px;
  height: 100px;
  position: fixed;
  z-index: 9999;
  display: block;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.pointer {
  pointer-events: none;
}

.h {
  height: 100vh;
}

.height33 {
  height: 33.33%;
}

.w {
  width: 100vw;
}

.w44 {
  width: 44%;
}

.bg-green-placeholder {
  background-color: #62ff62;
}

pre {
  display: inline-block;
  white-space: pre-wrap;
  overflow-x: auto;
}

.black-bg1 {
  background-color: $black-bg;
}

.wba {
  color: white;
  border-style: solid;
  border-width: 1px;
}
.wbt {
  color: white;
  border-top-style: solid;
  border-top-width: 1px;
}
.wbr {
  color: white;
  border-right-style: solid;
  border-right-width: 1px;
}
.wbb {
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.wbl {
  color: white;
  border-left-style: solid;
  border-left-width: 1px;
}
.wbn {
  border-style: none;
  border-width: 0;
}

.icons {
  width: 5vw;
  transition: all 0.5s ease;
}

::selection {
  background-color: #62ff62; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background-color: #62ff62; /* Gecko Browsers */
  color: white;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
}
