// Home.php

.bckgrnd-left {
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 0;
  pointer-events: none;
}
.bckgrnd-right {
  top: 50%;
  left: 50%;
  transform: translate(0%, -43%);
  z-index: 1;
  pointer-events: none;
  width: 50vw;
  z-index: -1;
  transition: 1s ease-in;
}
.bckgrnd-right2 {
  top: 50%;
  left: 50.2%;
  transform: translate(-100%, -43%);
  z-index: 1;
  width: 50vw;
  z-index: 0;
  mix-blend-mode: difference;

  pointer-events: none;
  transition: 1s ease-out;
}

.rotate {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  filter: blur(3px);
}

@-moz-keyframes spin {
  50% {
    -moz-transform: rotateY(90deg);
  }
}
@-webkit-keyframes spin {
  50% {
    -webkit-transform: rotateY(90deg);
  }
}
@keyframes spin {
  50% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}

.z {
  z-index: 1000;
}
