// _variables.scss

$font-stack: "Matter", sans-serif;
$primary-color: #1f1f1f;

// h0
$xlarge: 10.7vw;
$lh-xlarge: 7.8vw;
$kern-xlarge: -0.6vw;

// h1
$large: 6vw;
$lh-large: 6vw;
$kern-large: -0.35vw;

// h2
$medium: 3vw;
$lh-medium: 3vw;
$kern-medium: -0.1vw;

// p
$small: 1vw;
$lh-small: 1.3vw;
$kern-small: 0.015vw;

//colors
$black-bg: #1f1f1f;
$green-bg: #62ff62;
